/* Cursor.css */
.cursor {
    display: inline-block;
    width: 1px; /* Adjust the cursor width as needed */
    height: 1em;
    background-color: gray; /* Cursor color */
    margin-top: 4px;
    
  }
  
  .cursor.visible {
    background-color: transparent; /* Hide cursor when not visible */
  }